.match-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
    color: #ffffff;
    margin: 20px;
    text-align: center;
    background-color: #1e293b;
    padding: 20px 20px;
    width: 200px;
    border-radius: 15px;
}

.competing-team-logo-img{
    width: 80px;
}

.competing-team{
    font-size: 16px;
    font-weight: 500;
}

.match-status{
    font-size: 16px;
    font-weight: 600;
}